<script>
  import { createEventDispatcher } from 'svelte'
  import { login } from './api.js'

  let nag = null;
  
  let prompt_login = true;
  let login_promise;
  let username;
  let password;
  const dispatch = createEventDispatcher()
  async function attemptLogin() {
    prompt_login = false;
    let res = null;
    try {
      res = await login(username, password)
    } catch (e) {
      nag = "Login failed.  Verify credentials.";
      prompt_login = true;
      return;
    }
    
    await dispatch('login', {
      'username': username,
      'token': res.body.token
    })
  }
</script>

{#if prompt_login }
  <h1>Log in to the cash register</h1>
  {#if nag }
    <div class="bg-dark-yellow fg-black b">{nag}</div>
  {/if}
  <form>
    <input type='text' bind:value={username} placeholder='Username'>
    <input type='password' bind:value={password} placeholder='Password'>
    <button on:click|preventDefault={attemptLogin}>Log in</button>
  </form>
{:else}
  <h1>Logging in&hellip;</h1>
{/if}
