<script>
  export let login_data;

  import api from './api.js'
  // import { m } from 'moneysafe';
  // import { mm, subtractPercent, addPercent } from 'moneysafe/ledger';
  
  import { fade } from 'svelte/transition'
  import { cc, moneyinfo } from "./cc.js"
  import "./tachyons.css"
  import Keypad from "./Keypad.svelte"
  import TransactionList from "./TransactionList.svelte"

  let transactions = [];
  updateTransactions()

  let tendered = 0
  let products = []

  function addImmediate(price) {
    last = price;
    total += price;
    products.push({kind: 'immediate', price: price})
  }

  function resolveProducts() {
    let promises = []
    products.forEach((product, index) => {
      if (!('id' in product)) {
        promises.push(api.product.create(login_data.token, product).then(({ body }) => products[index] = body))
      }
    })
    return promises
  }
  async function makeTransaction() {
    return api.transaction.create(login_data.token, {created: login_data.username, items:products.map(p=>p.id)})
  }
  
  let transaction = undefined;

  let input = '0'

  function updateInputWithKey(key) {
    if (key === '.' && input.includes('.')) {
      return;
    }
    const m = input.match(/^[0-9]+\.([0-9]*)$/)
    if (m) {
      switch (m[1].length) {
      case 1:
        if (key === '00') {
          key = '0'
        }
      case 0:
        input += key
      default:
        return;
      }
    } else if (input === '0') {
      if (key === '0' || key === '00') {
        return;
      }
      input = key
    } else {
      input += key
    }
  }

  function handleKey(ev) {
    updateInputWithKey(ev.detail.key)
    current = input
  }

  async function reset() {
    transaction = undefined;
    products = []
    tendered = 0;
    total = last = 0;
    clearInput()
  }
  function clearInput() {
    input = '0';
  }
  function handleAdd() {
    addImmediate(parseFloat(input))
    clearInput();
  }
  async function handlePreSale() {

    await Promise.all(resolveProducts())
    transaction = (await makeTransaction()).body
    await updateTransactions();
    clearInput()
  }
  function handleVoid() {
    // XXX
  }
  async function finalizeTransaction() {
    if (transaction === undefined || !transaction.finalized) {
      return;
    }
    reset()
  }
  async function handleTender() {
    if (!transaction) { return; }
    let tendered = parseFloat(input)
    transaction.tendered += tendered
    transaction = (await api.transaction.update(login_data.token, transaction.id, transaction)).body
    await updateTransactions();
  }
  async function handleCancel() {
    if (transaction) {
      await api.transaction.delete(login_data.token, transaction.id)
      transaction = undefined
    }
    for (const prod of products) {
      if ('id' in prod && prod.kind === 'immediate') {
        await api.product.delete(login_data.token, prod.id).then(() => {})  // XXX
      }
    }
    await updateTransactions();
    reset()
  }
  function renderChange() {
    const change = cc(transaction.change*100);
    return change.denominations.map(d=> change[d] + '×$' + (d/100).toString()).join(', ');
  }
  function updateTransactions() {
    api.transaction.list(login_data.token).then((res) => transactions = res.body)
  }
  
  let current = '0'
  let total = 0;
  let last = 0;

  let addProductDisabled;
  $: addProductDisabled = /* transaction !== undefined; */ false;
  let saleDisabled;
  $: saleDisabled = /* products.length === 0 || transaction !== undefined; */ false;
  let changeDisabled;
  $: changeDisabled = /* transaction === undefined || transaction.change <= 0; */ false;
</script>

<style>
  button {
    width: 100%;
  }
</style>


<div transition:fade>
  <div class="h4 dark-green bg-light-gray pa2 br2">

    <div class="fl w-third pa1">
      <div class="f3">
        <b>Transaction</b>
        {#if transaction}
          #{transaction.id}
        {/if}
      </div>
      {#if transaction}
        <div class="f3">
          Tendered: ${transaction.tendered}
        </div>
        {#if transaction.finalized }
          <div class="f3">
            Change: ${transaction.change} ({renderChange()})
          </div>
        {/if}
      {:else}
          (Waiting for sale)
        {/if}
      </div>

    <div class="fl w-third pa1">
      <div class="f3 b">
        Charges
      </div>
      <div class="f3">
        Last: ${last}
      </div>
      <div class="f3">
        Total: ${total}
      </div>
    </div>
    
    <div class="fl w-third pa1 f1">
      ${input}
    </div>
  </div>

  <div class="h5">
    <div class="fl w-20 pr3">
      <div class="pa1">
        <button class="br3 bg-light-red h3" on:click={handleVoid}>Void Item</button>
      </div>
      <div class="pa1">
        <button class="br3 bg-light-red h3" on:click={handleCancel}>Cancel Transaction</button>
      </div>
      <div class="pa1">
        <button class="br3 bg-light-blue h3" on:click={finalizeTransaction}>Finalize</button>
      </div>
    </div>
    
    <div class="fl w-40">
      <div class="pa1">
        <button class="br3 bg-light-green h3" on:click={handleAdd}
                disabled="{addProductDisabled}">Add Product</button>
      </div>
      <div class="pa1">
        <button class="br3 bg-light-yellow h3" on:click={handlePreSale}
                disabled="{saleDisabled}">Sale</button>
      </div>
      <div class="pa1">
        <button class="br3 bg-light-yellow h3" on:click={handleTender}
                disabled="{changeDisabled}">Give Change</button>
      </div>
    </div>
    
    <div class="fl w-40 pa1">
      <Keypad on:key={handleKey}/>
    </div>
  </div>

</div>
<div class="v-btm">
  <TransactionList {transactions} />
</div>
