<script>
  export let transactions = [];
</script>
<hr>
<table>
  <tr>
    <th><b>Transaction #</b></th>
    <th>Product #s</th>
    <th>Date</th>
    <th>Total</th>
    <th>Tendered</th>
    <th>Change</th>
    <th>Finalized</th>
  </tr>
  {#each transactions.slice().sort((a, b) => b.id - a.id) as t}
    <tr>
      <td>
        <b>#{t.id}</b>
      </td>
      <td>
        {t.updated}
      </td>
      <td>
        {t.items.join(',')}
      </td>
      <td>
        ${t.total}
      </td>
      <td>${t.tendered}
      </td>
      <td>${t.change}
      </td>
      <td>{t.finalized ? 'yes' : 'no'}</td>
    </tr>
  {/each}
</table>
